#wrapper{
    height: 800px;
    width: 900px;
    border:solid black 1px;
    margin: 0 auto;
    padding: 10px 10px 10px 10px;
}

.options{
    height: 170px;
    width: 200px;
    border: solid black 1px;
    display: inline-block;
    margin: 10px;
    text-align:center
}
#money{
    display:inline-block;
    height:30px;
    width:100px;
    border:solid black 1px;
}
.button{
    background-color:gold;
    box-shadow: 3px 4px 10px goldenrod;
    border:none;
    font-size: 20px;
    border-radius: 8px;
}

#display {
    height: 400px;
    width: auto;
    border: solid black 1px;
    margin: auto;
    overflow:auto;
}